{
  "openapi": "3.0.0",
  "info": {
    "title": "HDT API",
    "version": "1.0",
    "description": "The CDNetworks ECP API is a RESTful API that allows you to manage transports and retrieve reports.",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com/hdt/v1"
    }
  ],
  "paths": {
    "/transport": {
      "get": {
        "summary": "Query transport list",
        "operationId": "get-transport",
        "description": "Get a transport list according to customer user name or transport type.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Authorization string for the request",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Date",
            "description": "The date and time of the request.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "uncompressed",
                "gzip"
              ],
              "default": "uncompressed"
            },
            "in": "header",
            "name": "Accept-Encoding",
            "description": "Indicates the compression format of response data, supports 'gzip' and 'uncompressed', default value is 'uncompressed'"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml"
              ],
              "default": "application/json"
            },
            "in": "header",
            "name": "Accept",
            "description": "Indicates the response format, supports ‘application/json’ and ‘application/xml’, default value is ‘application/json’."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "mw-access",
            "description": "Indicates the customer id. It is  'impersonation' and  it’s not exposed to the customers. It is only for admin use."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "on-behalf-of",
            "description": "Indicates the customer id. It is  'impersonation' and  it’s not exposed to the customers. It is only for admin use."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "limit",
            "description": "Indicates the maximum number of items to return, the default value is 20."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "offset",
            "description": "Indicates the starting position of the query in relation to the complete set of unpaginated items. The default value is 0."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "transportType",
            "description": "Search transports according to this specified transport type, valid values are get from api ‘/hdt/transport-types’"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "schema": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9]"
                },
                "description": "It is a random 8 alpha-numerics([a-zA-Z0-9]) string and automatically generated by HDT-API Server."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "transports"
        ]
      }
    },
    "/report": {
      "get": {
        "summary": "Query the traffic volume for your transport",
        "tags": [
          "reports"
        ],
        "responses": {},
        "operationId": "get-report",
        "description": ""
      }
    }
  },
  "components": {
    "schemas": {
      "transport": {
        "title": "transport",
        "type": "object",
        "description": "container for transport information.",
        "properties": {
          "transportId": {
            "$ref": "#/components/schemas/transportId"
          },
          "transportCode": {
            "$ref": "#/components/schemas/transportCode"
          }
        }
      },
      "report": {
        "title": "report",
        "type": "array",
        "items": {
          "type": "object"
        }
      },
      "transportId": {
        "title": "transportId",
        "type": "object",
        "description": "Indicates an transport id, it is a unique integer number in HDT System.",
        "properties": {
          "id": {
            "type": "integer"
          }
        }
      },
      "transportCode": {
        "title": "transportCode",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "description": "Indicates a transport code, if transport type of this transport is ipport, it uses this form ‘targetDomain:targetPort’ to represent. if transport type of this transport is vpn or socks5, it uses ‘userAccount’ to represent."
      },
      "securitySchemes": {
        "type": "object",
        "title": "securitySchemes"
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "All requests to CDNetworks' platform must be authenticated using an API login name and key assigned to your organization. For security, the API key is not passed directly but is secured as described below. \n\nThe authentication type is HTTP Basic, and the authorization string is specified in the HTTP request header called Authorization.\n```\n#!/bin/bash\n#URL of the CDN360 API server\nAPI_SERVER=https://ngapi.cdnetworks.com\n\n#You will be given the following information by the CDNetworks sales team\nUSER=\"{API user name}\"\nAPI_KEY=\"{API key (make sure to escape the $ sign if any)}\"\n\n#Date in RFC 1123 format\nDATE=`date \"+%a, %d %b %Y %H:%M:%S %Z\"`\n\n#Generate the password. Raw output from openssl by adding the \"-binary\" flag\npassw=$(echo -n \"$DATE\" | openssl dgst -sha1 -hmac \"$API_KEY\" -binary | base64)\necho \" \"\n\n#Construct the curl command to query list of applications\napiCall =\"curl -i --url '${API_SERVER}/ecp/v1/applications'\n                  -X GET\n                  -u $USER:$passw\n                  -H 'Date: $DATE'\n                  -H 'Accept: application/json'\"\neval $apiCall\necho \" \"\n```\n If you are a reseller, you can also specify a child customer's ID in an On-Behalf-Of HTTP header to make API calls to manage your child customer."
      }
    }
  },
  "tags": [
    {
      "name": "transports",
      "description": "Configure your HDT transports."
    },
    {
      "name": "Reports",
      "description": "Call our report APIs to get information about the usage of your HDT transports."
    }
  ]
}

