{
  "openapi": "3.0.0",
  "info": {
    "title": "HDT API",
    "version": "1.0",
    "description": "The CDNetworks ECP API is a RESTful API that allows you to manage transports, retrieve reports and download logs.",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com/hdt/v1"
    }
  ],
  "paths": {
    "/transport": {
      "get": {
        "summary": "Query transport list",
        "operationId": "get-transport",
        "description": "Get a transport list according to customer user name or transport type.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "description": "Indicates the maximum number of items to return, the default value is 20."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "offset",
            "description": "Indicates the starting position of the query in relation to the complete set of unpaginated items. The default value is 0."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "transportType",
            "description": "Search transports according to this specified transport type, valid values are get from api ‘/hdt/transport-types’"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Indicates the total transports"
                        },
                        "transport-data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/transport.transportData"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "transport": {
                        "count": 3,
                        "transport-data": [
                          {
                            "transportId": 1,
                            "transportCode": "test.domain.com:26666",
                            "transportType": "ipport",
                            "transportName": "test.domain.com:26666",
                            "status": "enabled"
                          },
                          {
                            "transportId": 2,
                            "transportCode": "useraccount-1",
                            "transportType": "vpn",
                            "transportName": "useraccount-1",
                            "status": "enabled"
                          },
                          {
                            "transportId": 3,
                            "transportCode": "useraccount-2",
                            "transportType": "socks5",
                            "transportName": "useraccount-2",
                            "status": "enabled"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "error": "MissingDateHeader",
                      "message": "Authorized request must have a Date header."
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "error": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            },
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "NoSuchTransportType"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport type does not exist."
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "error": "NoSuchTransportType",
                      "message": "The specified transport type does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "error": "InternalError",
                      "message": "We encountered an internal error. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Transports"
        ]
      },
      "post": {
        "summary": "Create a transport",
        "operationId": "post-transport",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transportId": {
                            "$ref": "#/components/schemas/transport.id"
                          },
                          "transportCode": {
                            "$ref": "#/components/schemas/transport.code"
                          },
                          "transportType": {
                            "$ref": "#/components/schemas/transport.type"
                          },
                          "transportName": {
                            "$ref": "#/components/schemas/transport.name"
                          },
                          "cName": {
                            "$ref": "#/components/schemas/transport.cName"
                          },
                          "accessPort": {
                            "$ref": "#/components/schemas/transport.accessPort"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport with empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:18888",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:18888",
                        "cName": "access.domain.com",
                        "accessPort": 19999
                      }
                    }
                  },
                  "Ipport with non-empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:8080",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:8080",
                        "cName": "access.domain.com",
                        "accessPort": 80
                      }
                    }
                  },
                  "vpn or socks5": {
                    "value": {
                      "transport": {
                        "transportId": 2,
                        "transportCode": "user1",
                        "transportType": "vpn",
                        "transportName": "user1",
                        "cName": "access.domain.com"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/EDIFACT": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        }
                      }
                    },
                    {
                      "title": "MissingArgument",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "Required parameter is missing."
                        }
                      }
                    },
                    {
                      "title": "CNameAlreadyExists",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "CNameAlreadyExists"
                        },
                        "message": {
                          "type": "string",
                          "description": "CNAME already exists."
                        }
                      }
                    },
                    {
                      "title": "TargetDomainAndPortAlreadyExist",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "TargetDomainAndPortAlreadyExist"
                        },
                        "message": {
                          "type": "string",
                          "description": "The target domain and target port already exist."
                        }
                      }
                    },
                    {
                      "title": "UserAccountAlreadyExists",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "UserAccountAlreadyExists"
                        },
                        "message": {
                          "type": "string",
                          "description": "User account already exists."
                        }
                      }
                    },
                    {
                      "title": "InvalidCNameSuffix",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidCNameSuffix"
                        },
                        "message": {
                          "type": "string",
                          "description": "Invalid CName suffix."
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        }
                      }
                    },
                    {
                      "title": "InvalidUseStandardPort",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidUseStandardPort"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field ‘useStandardPort’ is invalid."
                        }
                      }
                    },
                    {
                      "title": "AccessDomainIsRequired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "AccessDomainIsRequired"
                        },
                        "message": {
                          "type": "string",
                          "description": "'accessDomain' is required and can’t be empty."
                        }
                      }
                    },
                    {
                      "title": "InvalidAccessDomain",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidAccessDomain"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field ‘accessDomain’ is invalid."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "InvalidAccessDomain": {
                    "value": {
                      "error": "InvalidAccessDomain",
                      "message": "The value of field ‘accessDomain’ is invalid."
                    }
                  },
                  "InvalidUseStandardPort": {
                    "value": {
                      "error": "InvalidUseStandardPort",
                      "message": "The value of field ‘useStandardPort’ is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "UnAuthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    }
                  }
                },
                "examples": {
                  "UnAuthorized": {
                    "value": {
                      "error": "UnAuthorized",
                      "message": "Invalid authentication / authorization credentials."
                    }
                  }
                }
              }
            },
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "This user is not allowed to perform this request."
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportType",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "NoSuchTransportType"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport type does not exist."
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "error": "NoSuchTransportType",
                      "message": "The specified transport type does not exist."
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "error": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "error": "InternalError",
                      "message": "We encountered an internal error. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a transport and associate it with the calling customer. It should return a transportId,  a transportCode, a transportName, a transportType, a CNAME and an accessPort to calling customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transport": {
                    "type": "array",
                    "description": "Root element of request body.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "transportType": {
                          "$ref": "#/components/schemas/transport.type"
                        },
                        "transportName": {
                          "$ref": "#/components/schemas/transport.name"
                        },
                        "targetDomain": {
                          "$ref": "#/components/schemas/transport.targetDomain"
                        },
                        "targetPort": {
                          "$ref": "#/components/schemas/transport.targetPort"
                        },
                        "useFtp": {
                          "$ref": "#/components/schemas/transport.useFtp"
                        },
                        "cName    ": {
                          "$ref": "#/components/schemas/transport.cName"
                        },
                        "userAccount": {
                          "$ref": "#/components/schemas/transport.userAccount"
                        },
                        "userPwd": {
                          "$ref": "#/components/schemas/transport.userPwd"
                        },
                        "accessDomain": {
                          "$ref": "#/components/schemas/transport.accessDomain"
                        },
                        "useStandardPort": {
                          "$ref": "#/components/schemas/transport.useStandardPort"
                        },
                        "ipWhiteList": {
                          "$ref": "#/components/schemas/transport.ipWhiteList"
                        },
                        "useUdp": {
                          "$ref": "#/components/schemas/transport.useUdp"
                        },
                        "status": {
                          "$ref": "#/components/schemas/transport.status"
                        },
                        "comments": {
                          "$ref": "#/components/schemas/transport.comments"
                        }
                      },
                      "required": [
                        "transportType",
                        "targetDomain",
                        "targetPort",
                        "useFtp",
                        "userAccount",
                        "userPwd",
                        "accessDomain"
                      ]
                    }
                  }
                },
                "required": [
                  "transport"
                ]
              }
            }
          },
          "description": "Create a transport."
        },
        "tags": [
          "Transports"
        ]
      }
    },
    "/transport/{transport-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query a transport",
        "tags": [
          "Transports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transportId": {
                            "$ref": "#/components/schemas/transport.id"
                          },
                          "transportCode": {
                            "$ref": "#/components/schemas/transport.code"
                          },
                          "transportType": {
                            "$ref": "#/components/schemas/transport.type"
                          },
                          "transportName": {
                            "$ref": "#/components/schemas/transport.name"
                          },
                          "targetDomain": {
                            "$ref": "#/components/schemas/transport.targetDomain"
                          },
                          "targetPort": {
                            "$ref": "#/components/schemas/transport.targetPort"
                          },
                          "useFtp": {
                            "$ref": "#/components/schemas/transport.useFtp"
                          },
                          "cName": {
                            "$ref": "#/components/schemas/transport.cName"
                          },
                          "accessPort": {
                            "$ref": "#/components/schemas/transport.accessPort"
                          },
                          "userAccount": {
                            "$ref": "#/components/schemas/transport.userAccount"
                          },
                          "userPwd": {
                            "$ref": "#/components/schemas/transport.userPwd"
                          },
                          "useUdp": {
                            "$ref": "#/components/schemas/transport.useUdp"
                          },
                          "useStandardPort": {
                            "$ref": "#/components/schemas/transport.useStandardPort"
                          },
                          "accessDomain": {
                            "$ref": "#/components/schemas/transport.accessDomain"
                          },
                          "status": {
                            "$ref": "#/components/schemas/transport.status"
                          },
                          "speedLimit": {
                            "$ref": "#/components/schemas/transport.speedLimit"
                          },
                          "concurrentLimit": {
                            "$ref": "#/components/schemas/transport.concurrentLimit"
                          },
                          "transportStrategy": {
                            "$ref": "#/components/schemas/transport.strategy"
                          },
                          "ipWhiteList": {
                            "$ref": "#/components/schemas/transport.ipWhiteList"
                          },
                          "comments": {
                            "$ref": "#/components/schemas/transport.comments"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport with empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:18888",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:18888",
                        "targetDomain": "test.domain.com",
                        "targetPort": 18888,
                        "useFtp": 0,
                        "cName": "access.domain.com",
                        "accessPort": 19999,
                        "useUdp": 0,
                        "useStandardPort": "",
                        "accessDomain": "test.domain.com",
                        "status": "enabled",
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "comments": ""
                      }
                    }
                  },
                  "Ipport with non-empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 3,
                        "transportCode": "test-2.domain.com:1080",
                        "transportType": "ipport",
                        "transportName": "test-2.domain.com:1080",
                        "targetDomain": "test-2.domain.com",
                        "targetPort": 1080,
                        "useFtp": 0,
                        "cName": "access.cname.com",
                        "accessPort": 80,
                        "useUdp": 0,
                        "useStandardPort": "http",
                        "accessDomain": "access.domain.com,access1.domain.com",
                        "status": "enabled",
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "comments": ""
                      }
                    }
                  },
                  "vpn or socks5": {
                    "value": {
                      "transport": {
                        "transportId": 2,
                        "transportCode": "user1",
                        "transportType": "vpn",
                        "transportName": "user1",
                        "useFtp": 0,
                        "cName": "access.domain.com",
                        "userAccount": "user1",
                        "userPwd": "123456",
                        "status": "enabled",
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-100",
                        "comments": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "error": "MissingDateHeader",
                      "message": "Authorized request must have a Date header."
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "error": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "UnAuthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid authentication / authorization credentials."
                    }
                  }
                }
              }
            },
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "NoSuchTransportType"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport type does not exist."
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "error": "NoSuchTransportType",
                      "message": "The specified transport type does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "error": "InternalError",
                      "message": "We encountered an internal error. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transport-transportId",
        "description": "Get transport information by transport Id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          }
        ]
      },
      "put": {
        "summary": "Modify a transport",
        "operationId": "put-transport-transportId",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transportId": {
                            "$ref": "#/components/schemas/transport.id"
                          },
                          "transportCode": {
                            "$ref": "#/components/schemas/transport.code"
                          },
                          "transportType": {
                            "$ref": "#/components/schemas/transport.type"
                          },
                          "transportName": {
                            "$ref": "#/components/schemas/transport.name"
                          },
                          "cName": {
                            "$ref": "#/components/schemas/transport.cName"
                          },
                          "accessPort": {
                            "$ref": "#/components/schemas/transport.accessPort"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport with empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:18888",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:18888",
                        "cName": "access.domain.com",
                        "accessPort": 19999
                      }
                    }
                  },
                  "Ipport with non-empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:8080",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:8080",
                        "cName": "access.domain.com",
                        "accessPort": 80
                      }
                    }
                  },
                  "vpn or socks5": {
                    "value": {
                      "transport": {
                        "transportId": 2,
                        "transportCode": "user1",
                        "transportType": "vpn",
                        "transportName": "user1",
                        "cName": "access.domain.com"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/EDIFACT": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        }
                      }
                    },
                    {
                      "title": "MissingArgument",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "Required parameter is missing."
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "InvalidURI": {
                    "value": {
                      "error": "InvalidURI",
                      "message": "Could not parse the specified URI."
                    }
                  },
                  "MissingAuthHeader": {
                    "value": {
                      "error": "MissingAuthHeader",
                      "message": "The HTTP authorization header is missing."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "UnAuthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    }
                  }
                },
                "examples": {
                  "UnAuthorized": {
                    "value": {
                      "error": "UnAuthorized",
                      "message": "Invalid authentication / authorization credentials."
                    }
                  }
                }
              }
            },
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "This user is not allowed to perform this request."
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportId",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "NoSuchTransportId"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport id does not exist."
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "error": "NoSuchTransportId",
                      "message": "The specified transport id does not exist."
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "error": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "error": "InternalError",
                      "message": "We encountered an internal error. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Modify a transport according to {transport-id}, which is a transport id. If transport type of this transport is ipport, it is allowed to modify targetDomain, targetPort, transportName, useFtp, useUdp, useStandardPort, accessDomain, status, comments and ipWhiteList. If transport type of this transport is vpn or socks5, it is allowed to modify  transportName, useFtp, user password, status, comments and ipWhiteList. It will return parameter information, which take effect on HDT System.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transport": {
                    "type": "array",
                    "description": "Root element of request body.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "transportType": {
                          "$ref": "#/components/schemas/transport.type"
                        },
                        "transportName": {
                          "$ref": "#/components/schemas/transport.name"
                        },
                        "targetDomain": {
                          "$ref": "#/components/schemas/transport.targetDomain"
                        },
                        "targetPort": {
                          "$ref": "#/components/schemas/transport.targetPort"
                        },
                        "useFtp": {
                          "$ref": "#/components/schemas/transport.useFtp"
                        },
                        "cName    ": {
                          "$ref": "#/components/schemas/transport.cName"
                        },
                        "userAccount": {
                          "$ref": "#/components/schemas/transport.userAccount"
                        },
                        "userPwd": {
                          "$ref": "#/components/schemas/transport.userPwd"
                        },
                        "accessDomain": {
                          "$ref": "#/components/schemas/transport.accessDomain"
                        },
                        "useStandardPort": {
                          "$ref": "#/components/schemas/transport.useStandardPort"
                        },
                        "ipWhiteList": {
                          "$ref": "#/components/schemas/transport.ipWhiteList"
                        },
                        "useUdp": {
                          "$ref": "#/components/schemas/transport.useUdp"
                        },
                        "status": {
                          "$ref": "#/components/schemas/transport.status"
                        },
                        "comments": {
                          "$ref": "#/components/schemas/transport.comments"
                        }
                      },
                      "required": [
                        "transportType",
                        "targetDomain",
                        "targetPort",
                        "useFtp",
                        "userAccount",
                        "userPwd",
                        "accessDomain"
                      ]
                    }
                  }
                }
              },
              "examples": {
                "Ipport with empty useStandardPort": {
                  "value": {
                    "transport": {
                      "transportId": 1,
                      "transportCode": "test.domain.com:18888",
                      "transportType": "ipport",
                      "transportName": "test.domain.com:18888",
                      "targetDomain": "test.domain.com",
                      "targetPort": 18888,
                      "useFtp": 0,
                      "cName": "access.domain.com",
                      "accessPort": 19999,
                      "useUdp": 0,
                      "useStandardPort": "",
                      "accessDomain": "test.domain.com",
                      "status": "enabled",
                      "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                      "comments": ""
                    }
                  }
                },
                "Ipport with non-empty useStandardPort": {
                  "value": {
                    "transport": {
                      "transportId": 3,
                      "transportCode": "test-2.domain.com:80",
                      "transportType": "ipport",
                      "transportName": "test-2.domain.com:80",
                      "targetDomain": "test-2.domain.com",
                      "targetPort": 80,
                      "useFtp": 0,
                      "cName": "access.cname.com",
                      "accessPort": 80,
                      "useUdp": 0,
                      "useStandardPort": "http",
                      "accessDomain": "access.domain.com",
                      "status": "enabled",
                      "speedLimit": 0,
                      "concurrentLimit": 0,
                      "transportStrategy": "topspeed",
                      "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                      "comments": ""
                    }
                  }
                },
                "vpn or socks5": {
                  "value": {
                    "transport": {
                      "transportId": 2,
                      "transportCode": "user1",
                      "transportType": "vpn",
                      "transportName": "user1",
                      "useFtp": 0,
                      "cName": "access.domain.com",
                      "userAccount": "user1",
                      "userPwd": "123456",
                      "status": "enabled",
                      "ipWhiteList": "192.168.10/26;192.168.10.1-100",
                      "comments": " "
                    }
                  }
                }
              }
            }
          },
          "description": "Modify a transport."
        },
        "tags": [
          "Transports"
        ]
      },
      "delete": {
        "summary": "Delete a transport",
        "operationId": "delete-transport-transportId",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transportId": {
                            "$ref": "#/components/schemas/transport.id"
                          },
                          "transportCode": {
                            "$ref": "#/components/schemas/transport.code"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport with empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:18888",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:18888",
                        "targetDomain": "test.domain.com",
                        "targetPort": 18888,
                        "useFtp": 0,
                        "cName": "access.domain.com",
                        "accessPort": 19999,
                        "useUdp": 0,
                        "useStandardPort": "",
                        "accessDomain": "test.domain.com",
                        "status": "enabled",
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "comments": ""
                      }
                    }
                  },
                  "Ipport with non-empty useStandardPort": {
                    "value": {
                      "transport": {
                        "transportId": 3,
                        "transportCode": "test-2.domain.com:1080",
                        "transportType": "ipport",
                        "transportName": "test-2.domain.com:1080",
                        "targetDomain": "test-2.domain.com",
                        "targetPort": 1080,
                        "useFtp": 0,
                        "cName": "access.cname.com",
                        "accessPort": 80,
                        "useUdp": 0,
                        "useStandardPort": "http",
                        "accessDomain": "access.domain.com,access1.domain.com",
                        "status": "enabled",
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "comments": ""
                      }
                    }
                  },
                  "vpn or socks5": {
                    "value": {
                      "transport": {
                        "transportId": 2,
                        "transportCode": "user1",
                        "transportType": "vpn",
                        "transportName": "user1",
                        "useFtp": 0,
                        "cName": "access.domain.com",
                        "userAccount": "user1",
                        "userPwd": "123456",
                        "status": "enabled",
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-100",
                        "comments": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "error": "MissingDateHeader",
                      "message": "Authorized request must have a Date header."
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "error": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid authentication / authorization credentials."
                    }
                  }
                }
              }
            },
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "This user is not allowed to perform this request."
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  },
                  "ResourceNoAccess": {
                    "value": {
                      "error": "ResourceNoAccess",
                      "message": "Read only customer can not modify resources."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportId",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "NoSuchTransportId"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport id  does not exist."
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "error": "NoSuchTransportId",
                      "message": "The specified transport id  does not exist."
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "error": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "error": "InternalError",
                      "message": "We encountered an internal error. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete a transport according to {transport-id}, which is a transport id and disassociate it with the calling customer. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          }
        ],
        "tags": [
          "Transports"
        ]
      }
    },
    "/transport/{transport-id}/history": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query history of a transport",
        "tags": [
          "Transports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "object",
                      "description": "container for transport’s history list. It will contain <count> and one or more <history-data> child elements indicating transport’s configuration information.",
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Indicates the total count of transport history data."
                        },
                        "history-data": {
                          "$ref": "#/components/schemas/transport.transportHistoryData"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport": {
                    "value": {
                      "transport": {
                        "count": 2,
                        "history-data": [
                          {
                            "deployId": 1,
                            "transportCode": "test.domain.com:18888",
                            "transportName": "transportName",
                            "apiRequestId": "qMQkfSZF",
                            "timestamp": "2014-07-31T23:05:00Z"
                          },
                          {
                            "deployId": 2,
                            "transportCode": "test.domain.com:18888",
                            "transportName": "transportName",
                            "apiRequestId": "G7RtWVwo",
                            "timestamp": "2014-07-31T23:05:00Z"
                          }
                        ]
                      }
                    }
                  },
                  "vpn or socks5": {
                    "value": {
                      "transport": {
                        "count": 2,
                        "history-data": [
                          {
                            "deployId": 1,
                            "transportCode": "user1",
                            "transportName": "transportName",
                            "apiRequestId": "qMQkfSZF",
                            "timestamp": "2014-07-31T23:05:00Z"
                          },
                          {
                            "deployId": 2,
                            "transportCode": "user1",
                            "transportName": "transportName",
                            "apiRequestId": "G7RtWVwo",
                            "timestamp": "2014-07-31T23:05:00Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "error": "MissingDateHeader",
                      "message": "Authorized request must have a Date header."
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "error": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            },
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "error": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "NoSuchTransportId"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport Id does not exist."
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "error": "NoSuchTransportId",
                      "message": "The specified transport id does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "api-request-id": {
                "$ref": "#/components/parameters/Api-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "error": "InternalError",
                      "message": "We encountered an internal error. Please try again."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transport-history-by-transportId",
        "description": "Get transport’s history configuration information according to {transport-id}, which is a transport id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "limit",
            "description": "Indicates the maximum number of items to return, the default value is 20."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "offset",
            "description": "Indicates the starting position of the query in relation to the complete set of unpaginated items. The default value is 0."
          }
        ]
      }
    },
    "/transport/{transport-id}/history/{deploy-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "deploy-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
[...]
