{
  "openapi": "3.0.0",
  "info": {
    "title": "HDT API",
    "version": "1.0",
    "description": "The CDNetworks HDT API is a RESTful API that allows you to manage transports, retrieve reports, and download logs.",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com/hdt/v1"
    }
  ],
  "paths": {
    "/transport": {
      "get": {
        "summary": "Query transport list",
        "operationId": "get-transport",
        "description": "Returns the transport list according to transport name or transport type.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "description": "Maximum number of items to return. The default value is 10."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "Starting position of the query in relation to the complete set of unpaginated items. The default value is 0."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "transportType",
            "description": "Search transports according to this specified transport type, valid values are 'ipport', 'vpn' and 'socks5'."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "transportName",
            "description": "Search transports by name. Support fuzzy search."
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "A string automatically generated by the API server to identify each request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Total transports"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/transport.transportData"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "0",
                      "content": {
                        "data": [
                          {
                            "accessDomain": "www.test1029.com",
                            "accessPort": 80,
                            "cName": "www.test1029.com.506459.shland.com",
                            "status": 1,
                            "targetDomain": "www.test.com",
                            "targetPort": 1029,
                            "transportCode": "www.test.com:1029",
                            "transportId": 506459,
                            "transportName": "www.test.com:1029",
                            "transportType": "ipport"
                          },
                          {
                            "accessDomain": "www.test1042.com",
                            "accessPort": 80,
                            "cName": "www.test1042.com.506460.shland.com",
                            "status": 1,
                            "targetDomain": "www.test.com",
                            "targetPort": 1042,
                            "transportCode": "www.test.com:1042",
                            "transportId": 506460,
                            "transportName": "www.test.com:1042",
                            "transportType": "ipport"
                          }
                        ],
                        "count": 2
                      },
                      "message": "Success",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "NoSuchTransportType"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport type does not exist."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "code": "NoSuchTransportType",
                      "message": "The specified transport type does not exist.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Transports"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": ""
        }
      },
      "post": {
        "summary": "Create a transport",
        "operationId": "post-transport",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/EDIFACT": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "Required parameter is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "CNameAlreadyExists",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "CNameAlreadyExists"
                        },
                        "message": {
                          "type": "string",
                          "description": "CNAME already exists."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "TargetDomainAndPortAlreadyExist",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "TargetDomainAndPortAlreadyExist"
                        },
                        "message": {
                          "type": "string",
                          "description": "The target domain and target port already exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "UserAccountAlreadyExists",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "UserAccountAlreadyExists"
                        },
                        "message": {
                          "type": "string",
                          "description": "User account already exists."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidCNameSuffix",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidCNameSuffix"
                        },
                        "message": {
                          "type": "string",
                          "description": "Invalid CName suffix."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidUseStandardPort",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidUseStandardPort"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field ‘useStandardPort’ is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "AccessDomainIsRequired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDomainIsRequired"
                        },
                        "message": {
                          "type": "string",
                          "description": "'accessDomain' is required and can’t be empty."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidAccessDomain",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidAccessDomain"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field ‘accessDomain’ is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "InvalidAccessDomain": {
                    "value": {
                      "code": "InvalidAccessDomain",
                      "message": "The value of field ‘accessDomain’ is invalid.",
                      "status": 1
                    }
                  },
                  "InvalidUseStandardPort": {
                    "value": {
                      "code": "InvalidUseStandardPort",
                      "message": "The value of field ‘useStandardPort’ is invalid.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "UnAuthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "UnAuthorized": {
                    "value": {
                      "code": "UnAuthorized",
                      "message": "Invalid authentication / authorization credentials.",
                      "status": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "This user is not allowed to perform this request."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportType",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "NoSuchTransportType"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport type does not exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "code": "NoSuchTransportType",
                      "message": "The specified transport type does not exist.",
                      "status": 1
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "code": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a transport and associate it with the calling customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transportName": {
                    "$ref": "#/components/schemas/transport.name"
                  },
                  "targetDomain": {
                    "$ref": "#/components/schemas/transport.targetDomain"
                  },
                  "targetPort": {
                    "$ref": "#/components/schemas/transport.targetPort"
                  },
                  "accessDomain": {
                    "$ref": "#/components/schemas/transport.accessDomain"
                  },
                  "accessPort": {
                    "$ref": "#/components/schemas/transport.accessPort"
                  },
                  "useStandardPort": {
                    "$ref": "#/components/schemas/transport.useStandardPort"
                  },
                  "cName": {
                    "$ref": "#/components/schemas/transport.cName"
                  },
                  "verifyPsb": {
                    "$ref": "#/components/schemas/transport.verifyPsb"
                  },
                  "transportType": {
                    "$ref": "#/components/schemas/transport.type"
                  },
                  "ipVersion": {
                    "$ref": "#/components/schemas/transport.ipVersion"
                  },
                  "userAccount": {
                    "$ref": "#/components/schemas/transport.userAccount"
                  },
                  "userPwd": {
                    "$ref": "#/components/schemas/transport.userPwd"
                  }
                },
                "required": [
                  "targetDomain",
                  "targetPort",
                  "accessDomain",
                  "accessPort",
                  "useStandardPort",
                  "transportType"
                ]
              },
              "examples": {
                "Create IP-Port transport": {
                  "value": {
                    "transportName": "string",
                    "targetDomain": "example.target.com",
                    "targetPort": 80,
                    "accessDomain": "example.access.com",
                    "accessPort": 80,
                    "useStandardPort": "http",
                    "cName": "example.com",
                    "verifyPsb": 0,
                    "transportType": "ipport",
                    "ipVersion": 1
                  }
                }
              }
            }
          },
          "description": "Create a transport."
        },
        "tags": [
          "Transports"
        ]
      }
    },
    "/transport/{transport-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query a transport",
        "tags": [
          "Transports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    },
                    "content": {
                      "$ref": "#/components/schemas/transport.transportData"
                    }
                  }
                },
                "examples": {
                  "Ipport with empty useStandardPort": {
                    "value": {
                      "code": "0",
                      "content": {
                        "transportId": 1,
                        "transportCode": "test.domain.com:18888",
                        "transportType": "ipport",
                        "transportName": "test.domain.com:18888",
                        "targetDomain": "test.domain.com",
                        "targetPort": 18888,
                        "useFtp": 0,
                        "cName": "access.domain.com",
                        "accessPort": 19999,
                        "useUdp": 0,
                        "useStandardPort": "",
                        "accessDomain": "test.domain.com",
                        "status": 1,
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "carryClientIp": 0,
                        "comments": ""
                      },
                      "message": "Success",
                      "status": 1
                    }
                  },
                  "Ipport with non-empty useStandardPort": {
                    "value": {
                      "code": "0",
                      "content": {
                        "transportId": 3,
                        "transportCode": "test-2.domain.com:1080",
                        "transportType": "ipport",
                        "transportName": "test-2.domain.com:1080",
                        "targetDomain": "test-2.domain.com",
                        "targetPort": 1080,
                        "useFtp": 0,
                        "cName": "access.cname.com",
                        "accessPort": 80,
                        "useUdp": 0,
                        "useStandardPort": "http",
                        "accessDomain": "access.domain.com,access1.domain.com",
                        "status": 1,
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "comments": ""
                      },
                      "message": "Success",
                      "status": 1
                    }
                  },
                  "vpn or socks5": {
                    "value": {
                      "code": "0",
                      "content": {
                        "transportId": 2,
                        "transportCode": "user1",
                        "transportType": "vpn",
                        "transportName": "user1",
                        "useFtp": 0,
                        "cName": "access.domain.com",
                        "userAccount": "user1",
                        "userPwd": "123456",
                        "status": 1,
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-100",
                        "comments": ""
                      },
                      "message": "Success",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "UnAuthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "Unauthorized",
                      "message": "Invalid authentication / authorization credentials.",
                      "status": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "NoSuchTransportType"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport type does not exist."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "code": "NoSuchTransportType",
                      "message": "The specified transport type does not exist.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transport-transportId",
        "description": "Returns the information of a transport by transport-Id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ]
      },
      "put": {
        "summary": "Modify a transport",
        "operationId": "put-transport-transportId",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/EDIFACT": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "Required parameter is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "InvalidURI": {
                    "value": {
                      "code": "InvalidURI",
                      "message": "Could not parse the specified URI.",
                      "status": 1
                    }
                  },
                  "MissingAuthHeader": {
                    "value": {
                      "code": "MissingAuthHeader",
                      "message": "The HTTP authorization header is missing.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "UnAuthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "UnAuthorized": {
                    "value": {
                      "code": "UnAuthorized",
                      "message": "Invalid authentication / authorization credentials.",
                      "status": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "This user is not allowed to perform this request."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportId",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "NoSuchTransportId"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport id does not exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "code": "NoSuchTransportId",
                      "message": "The specified transport id does not exist.",
                      "status": 1
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "code": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Modify a transport according to transport ID. If the transport type is \"ipport\", then \"targetDomain\", \"targetPort\", \"transportName\", \"useFtp\", \"useUdp\", \"useStandardPort\", \"accessDomain\", \"status\", \"comments\", and \"ipWhiteList\" can be modified. If transport type of this transport is \"vpn\" or \"socks5\", then \"transportName\", \"useFtp\", \"userPwd\", \"status\", \"comments\", and \"ipWhiteList\" can be modified.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transportType": {
                    "$ref": "#/components/schemas/transport.type"
                  },
                  "transportName": {
                    "$ref": "#/components/schemas/transport.name"
                  },
                  "targetDomain": {
                    "$ref": "#/components/schemas/transport.targetDomain"
                  },
                  "targetPort": {
                    "$ref": "#/components/schemas/transport.targetPort"
                  },
                  "useFtp": {
                    "$ref": "#/components/schemas/transport.useFtp"
                  },
                  "cName    ": {
                    "$ref": "#/components/schemas/transport.cName"
                  },
                  "userAccount": {
                    "$ref": "#/components/schemas/transport.userAccount"
                  },
                  "userPwd": {
                    "$ref": "#/components/schemas/transport.userPwd"
                  },
                  "accessDomain": {
                    "$ref": "#/components/schemas/transport.accessDomain"
                  },
                  "useStandardPort": {
                    "$ref": "#/components/schemas/transport.useStandardPort"
                  },
                  "ipWhiteList": {
                    "$ref": "#/components/schemas/transport.ipWhiteList"
                  },
                  "useUdp": {
                    "$ref": "#/components/schemas/transport.useUdp"
                  },
                  "status": {
                    "$ref": "#/components/schemas/transport.status"
                  },
                  "comments": {
                    "$ref": "#/components/schemas/transport.comments"
                  }
                }
              },
              "examples": {
                "Ipport with empty useStandardPort": {
                  "value": {
                    "transportId": 1,
                    "transportCode": "test.domain.com:18888",
                    "transportType": "ipport",
                    "transportName": "test.domain.com:18888",
                    "targetDomain": "test.domain.com",
                    "targetPort": 18888,
                    "useFtp": 0,
                    "cName": "access.domain.com",
                    "accessPort": 19999,
                    "useUdp": 0,
                    "useStandardPort": "",
                    "accessDomain": "test.domain.com",
                    "status": 1,
                    "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                    "comments": ""
                  }
                },
                "Ipport with non-empty useStandardPort": {
                  "value": {
                    "transportId": 3,
                    "transportCode": "test-2.domain.com:80",
                    "transportType": "ipport",
                    "transportName": "test-2.domain.com:80",
                    "targetDomain": "test-2.domain.com",
                    "targetPort": 80,
                    "useFtp": 0,
                    "cName": "access.cname.com",
                    "accessPort": 80,
                    "useUdp": 0,
                    "useStandardPort": "http",
                    "accessDomain": "access.domain.com",
                    "status": 1,
                    "speedLimit": 0,
                    "concurrentLimit": 0,
                    "transportStrategy": "topspeed",
                    "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                    "comments": ""
                  }
                },
                "vpn or socks5": {
                  "value": {
                    "transportId": 2,
                    "transportCode": "user1",
                    "transportType": "vpn",
                    "transportName": "user1",
                    "useFtp": 0,
                    "cName": "access.domain.com",
                    "userAccount": "user1",
                    "userPwd": "123456",
                    "status": 1,
                    "ipWhiteList": "192.168.10/26;192.168.10.1-100",
                    "comments": " "
                  }
                }
              }
            }
          },
          "description": "Modify a transport."
        },
        "tags": [
          "Transports"
        ]
      },
      "delete": {
        "summary": "Delete a transport",
        "operationId": "delete-transport-transportId",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "Invalid authentication / authorization credentials."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "Unauthorized",
                      "message": "Invalid authentication / authorization credentials.",
                      "status": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "This user is not allowed to perform this request."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  },
                  "ResourceNoAccess": {
                    "value": {
                      "code": "ResourceNoAccess",
                      "message": "Read only customer can not modify resources.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportId",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "NoSuchTransportId"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport id  does not exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "code": "NoSuchTransportId",
                      "message": "The specified transport id  does not exist.",
                      "status": 1
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "code": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete a transport by the transport ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "tags": [
          "Transports"
        ]
      }
    },
    "/transport/{transport-id}/history": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query history of a transport",
        "tags": [
          "Transports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/transport.code"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "deployId": {
                                "$ref": "#/components/schemas/transport.deployId"
                              },
                              "deployDt": {
                                "type": "integer"
                              },
                              "transportCode": {
                                "$ref": "#/components/schemas/transport.code"
                              },
                              "transportType": {
                                "$ref": "#/components/schemas/transport.type"
                              },
                              "transportName": {
                                "$ref": "#/components/schemas/transport.name"
                              },
                              "targetDomain": {
                                "$ref": "#/components/schemas/transport.targetDomain"
                              },
                              "targetPort": {
                                "$ref": "#/components/schemas/transport.targetPort"
                              },
                              "useFtp": {
                                "$ref": "#/components/schemas/transport.useFtp"
                              },
                              "cName": {
                                "$ref": "#/components/schemas/transport.cName"
                              },
                              "accessPort": {
                                "$ref": "#/components/schemas/transport.accessPort"
                              },
                              "userAccount": {
                                "$ref": "#/components/schemas/transport.userAccount"
                              },
                              "userPwd": {
                                "$ref": "#/components/schemas/transport.userPwd"
                              },
                              "useUdp": {
                                "$ref": "#/components/schemas/transport.useUdp"
                              },
                              "useStandardPort": {
                                "$ref": "#/components/schemas/transport.useStandardPort"
                              },
                              "accessDomain": {
                                "$ref": "#/components/schemas/transport.accessDomain"
                              },
                              "speedLimit": {
                                "$ref": "#/components/schemas/transport.speedLimit"
                              },
                              "concurrentLimit": {
                                "$ref": "#/components/schemas/transport.concurrentLimit"
                              },
                              "transportStrategy": {
                                "$ref": "#/components/schemas/transport.strategy"
                              },
                              "ipWhiteList": {
                                "$ref": "#/components/schemas/transport.ipWhiteList"
                              },
                              "verifyIcp": {
                                "$ref": "#/components/schemas/transport.verifyIcp"
                              },
                              "verifyPsb": {
                                "$ref": "#/components/schemas/transport.verifyPsb"
                              },
                              "vip": {
                                "$ref": "#/components/schemas/transport.vip"
                              },
                              "ipVersion": {
                                "$ref": "#/components/schemas/transport.ipVersion"
                              },
                              "exitIp": {
                                "$ref": "#/components/schemas/transport.exitIp"
                              },
                              "carryClientIp": {
                                "$ref": "#/components/schemas/transport.carryClientIp"
                              },
                              "comments": {
                                "$ref": "#/components/schemas/transport.comments"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport": {
                    "value": {
                      "code": "0",
                      "content": {
                        "data": [
                          {
                            "deployId": 1,
                            "accessDomain": "0202-1.access.com",
                            "accessPort": 80,
                            "apiRequestId": "8UqsuWcV",
                            "cName": "0202-1.access.com.506561.shland.com",
                            "carryClientIp": 0,
                            "concurrentLimit": 0,
                            "deployDt": 1612254378000,
                            "ipBlackList": "",
                            "ipVersion": 1,
                            "ipWhiteList": "",
                            "speedLimit": 0,
                            "targetDomain": "0202-1.target.com",
                            "targetPort": 80,
                            "transportCode": "0202-1.target.com:80",
                            "transportId": 506561,
                            "transportName": "0202-1.target.com:80",
                            "transportStatus": 1,
                            "transportStrategy": "topspeed",
                            "transportStrategyNam": "Default",
                            "useFtp": 0,
                            "useStandardPort": "http",
                            "useUdp": 0,
                            "verifyIcp": 0,
                            "verifyPsb": 0
                          }
                        ],
                        "count": 1
                      },
                      "message": "Success",
                      "status": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "Unauthorized",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "This user is not allowed to perform this request."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "NoSuchTransportId"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport Id does not exist."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "code": "NoSuchTransportId",
                      "message": "The specified transport id does not exist.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
[...]
