{
  "openapi": "3.0.0",
  "info": {
    "title": "HDT API",
    "version": "1.0",
    "description": "The CDNetworks HDT API is a RESTful API that allows you to manage transports, retrieve reports, and download logs.",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com/hdt/v1"
    }
  ],
  "paths": {
    "/transport": {
      "get": {
        "summary": "Query transport list",
        "operationId": "get-transport",
        "description": "Returns the transport list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "description": "Maximum number of items to return. The default value is 10."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "Starting position of the query in relation to the complete set of unpaginated items. The default value is 0."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "transportName",
            "description": "Search transports by name. Support fuzzy search."
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cName",
            "description": "Search by cName."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "accessDomain",
            "description": "Search by access domain."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "accessPort",
            "description": "Search by access port, an integer between 1 and 65535"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "targetDomain",
            "description": "Search by target domain."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "targetPort",
            "description": "Search by target port, an integer between 1 and 65535"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "A string automatically generated by the API server to identify each request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Total transports"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/transport.transportData"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "content": {
                        "count": 2,
                        "data": [
                          {
                            "transportId": 1,
                            "transportCode": "www.test.com:1029",
                            "transportName": "www.test.com:1029",
                            "transportStatus": 1,
                            "targetDomain": "www.test.com",
                            "targetPort": 80,
                            "accessDomain": "www.test1029.com",
                            "accessPort": 80,
                            "cName": "www.test1029.com.506459.shland.com",
                            "useFtp": 0,
                            "applicationProtocol": "http",
                            "useUdp": 0,
                            "speedLimit": 0,
                            "concurrentLimit": 0,
                            "transportStrategy": "interact",
                            "carryClientIp": 0,
                            "ipVersion": 1,
                            "hasPsb": 0,
                            "hasIcp": 0,
                            "dedicatedIpService": 0
                          },
                          {
                            "transportId": 2,
                            "transportCode": "www.test2.com:1029",
                            "transportName": "www.test2.com:1029",
                            "transportStatus": 1,
                            "targetDomain": "www.test2.com",
                            "targetPort": 443,
                            "accessDomain": "www.test2.access.com",
                            "accessPort": 443,
                            "cName": "www.test2.access.com.shland.com",
                            "useFtp": 0,
                            "applicationProtocol": "sni",
                            "useUdp": 0,
                            "speedLimit": 0,
                            "concurrentLimit": 0,
                            "transportStrategy": "uniform",
                            "carryClientIp": 0,
                            "ipVersion": 1,
                            "hasPsb": 0,
                            "hasIcp": 0,
                            "dedicatedIpService": 0
                          }
                        ]
                      },
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "Please enter valid credentials."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Transports"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": ""
        }
      },
      "post": {
        "summary": "Create a transport",
        "operationId": "post-transport",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/EDIFACT": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "Required parameter is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "CNameAlreadyExists",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "CNameAlreadyExists"
                        },
                        "message": {
                          "type": "string",
                          "description": "CNAME already exists."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "TargetDomainAndPortAlreadyExist",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "TargetDomainAndPortAlreadyExist"
                        },
                        "message": {
                          "type": "string",
                          "description": "The target domain and target port already exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidCNameSuffix",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidCNameSuffix"
                        },
                        "message": {
                          "type": "string",
                          "description": "Invalid CName suffix."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidApplicationProtocol",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidApplicationProtocol"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field ‘applicationProtocol’ is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "ApplicationProtocolIsRequired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ApplicationProtocolIsRequired"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field 'applicationProtocol' is required."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "AccessDomainIsRequired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDomainIsRequired"
                        },
                        "message": {
                          "type": "string",
                          "description": "'accessDomain' is required and can’t be empty."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidAccessDomain",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidAccessDomain"
                        },
                        "message": {
                          "type": "string",
                          "description": "The value of field ‘accessDomain’ is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "InvalidAccessDomain": {
                    "value": {
                      "code": "InvalidAccessDomain",
                      "message": "The value of field ‘accessDomain’ is invalid.",
                      "status": 1
                    }
                  },
                  "InvalidApplicationProtocol": {
                    "value": {
                      "code": "InvalidApplicationProtocol",
                      "message": "The value of field ‘applicationProtocol’ is invalid.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "Please enter valid credentials."
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "code": "NoSuchTransportType",
                      "message": "The specified transport type does not exist.",
                      "status": 1
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "code": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a transport and associate it with the calling customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transportName": {
                    "$ref": "#/components/schemas/transport.name"
                  },
                  "targetDomain": {
                    "$ref": "#/components/schemas/transport.targetDomain"
                  },
                  "targetPort": {
                    "$ref": "#/components/schemas/transport.targetPort"
                  },
                  "accessDomain": {
                    "$ref": "#/components/schemas/transport.accessDomain"
                  },
                  "accessPort": {
                    "$ref": "#/components/schemas/transport.accessPort"
                  },
                  "cName": {
                    "$ref": "#/components/schemas/transport.cName"
                  },
                  "applicationProtocol": {
                    "$ref": "#/components/schemas/transport.applicationProtocol"
                  },
                  "useFtp": {
                    "$ref": "#/components/schemas/transport.useFtp"
                  },
                  "useUdp": {
                    "$ref": "#/components/schemas/transport.useUdp"
                  },
                  "hasPSB": {
                    "$ref": "#/components/schemas/transport.hasPsb"
                  },
                  "transportStatus": {
                    "$ref": "#/components/schemas/transport.status"
                  },
                  "ipVersion": {
                    "$ref": "#/components/schemas/transport.ipVersion"
                  },
                  "speedLimit": {
                    "$ref": "#/components/schemas/transport.speedLimit"
                  },
                  "concurrentLimit": {
                    "$ref": "#/components/schemas/transport.concurrentLimit"
                  },
                  "transportStrategy": {
                    "$ref": "#/components/schemas/transport.transportStrategy"
                  },
                  "carryClientIp": {
                    "$ref": "#/components/schemas/transport.carryClientIp"
                  },
                  "ipWhiteList": {
                    "$ref": "#/components/schemas/transport.ipWhiteList"
                  },
                  "ipBlackList": {
                    "$ref": "#/components/schemas/transport.ipBlackList"
                  },
                  "dedicatedIpService": {
                    "$ref": "#/components/schemas/transport.dedicatedIpService"
                  },
                  "comments": {
                    "$ref": "#/components/schemas/transport.comments"
                  }
                },
                "required": [
                  "targetDomain",
                  "targetPort",
                  "accessDomain",
                  "accessPort",
                  "applicationProtocol"
                ]
              },
              "examples": {
                "Create IP-Port transport": {
                  "value": {
                    "transportName": "string",
                    "targetDomain": "example.target.com",
                    "targetPort": 80,
                    "accessDomain": "example.access.com",
                    "accessPort": 80,
                    "applicationProtocol": "http",
                    "cName": "example.com",
                    "useFtp": 0,
                    "useUdp": 0,
                    "hasPsb": 0,
                    "ipVersion": 1
                  }
                }
              }
            }
          },
          "description": "Create an ip-port transport."
        },
        "tags": [
          "Transports"
        ]
      }
    },
    "/transport/{transport-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query a transport",
        "tags": [
          "Transports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    },
                    "content": {
                      "$ref": "#/components/schemas/transport.transportData"
                    }
                  }
                },
                "examples": {
                  "http application": {
                    "value": {
                      "code": "0",
                      "content": {
                        "transportId": 3,
                        "transportCode": "test-2.domain.com:1080",
                        "transportType": "ipport",
                        "transportName": "test-2.domain.com:1080",
                        "targetDomain": "test-2.domain.com",
                        "targetPort": 1080,
                        "useFtp": 0,
                        "cName": "access.cname.com",
                        "accessPort": 80,
                        "useUdp": 0,
                        "applicationProtocol": "http",
                        "accessDomain": "access.domain.com,access1.domain.com",
                        "status": 1,
                        "speedLimit": 0,
                        "concurrentLimit": 0,
                        "transportStrategy": "topspeed",
                        "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                        "comments": ""
                      },
                      "message": "Success",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "Please enter valid credentials."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "NoSuchTransportType"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport type does not exist."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportType": {
                    "value": {
                      "code": "NoSuchTransportType",
                      "message": "The specified transport type does not exist.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transport-transportId",
        "description": "Returns the information of a transport by transport-Id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ]
      },
      "put": {
        "summary": "Modify a transport",
        "operationId": "put-transport-transportId",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "application/EDIFACT": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "Required parameter is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidArgument",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidArgument"
                        },
                        "message": {
                          "type": "string",
                          "description": "There is a problem with a parameter name or value."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "InvalidURI": {
                    "value": {
                      "code": "InvalidURI",
                      "message": "Could not parse the specified URI.",
                      "status": 1
                    }
                  },
                  "MissingAuthHeader": {
                    "value": {
                      "code": "MissingAuthHeader",
                      "message": "The HTTP authorization header is missing.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "Please enter valid credentials."
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportId",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "NoSuchTransportId"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport id does not exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "code": "NoSuchTransportId",
                      "message": "The specified transport id does not exist.",
                      "status": 1
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "code": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Modify a transport according to transport ID. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transportName": {
                    "$ref": "#/components/schemas/transport.name"
                  },
                  "targetDomain": {
                    "$ref": "#/components/schemas/transport.targetDomain"
                  },
                  "targetPort": {
                    "$ref": "#/components/schemas/transport.targetPort"
                  },
                  "useFtp": {
                    "$ref": "#/components/schemas/transport.useFtp"
                  },
                  "cName    ": {
                    "$ref": "#/components/schemas/transport.cName"
                  },
                  "accessDomain": {
                    "$ref": "#/components/schemas/transport.accessDomain"
                  },
                  "accessPort": {
                    "$ref": "#/components/schemas/transport.accessPort"
                  },
                  "applicationProtocol": {
                    "$ref": "#/components/schemas/transport.applicationProtocol"
                  },
                  "ipWhiteList": {
                    "$ref": "#/components/schemas/transport.ipWhiteList"
                  },
                  "ipBlackList": {
                    "$ref": "#/components/schemas/transport.ipBlackList"
                  },
                  "useUdp": {
                    "$ref": "#/components/schemas/transport.useUdp"
                  },
                  "transportStatus": {
                    "$ref": "#/components/schemas/transport.status"
                  },
                  "comments": {
                    "$ref": "#/components/schemas/transport.comments"
                  },
                  "speedLimit": {
                    "$ref": "#/components/schemas/transport.speedLimit"
                  },
                  "concurrentLimit": {
                    "$ref": "#/components/schemas/transport.concurrentLimit"
                  },
                  "transportStrategy": {
                    "$ref": "#/components/schemas/transport.transportStrategy"
                  },
                  "carryClientIp": {
                    "$ref": "#/components/schemas/transport.carryClientIp"
                  },
                  "ipVersion": {
                    "$ref": "#/components/schemas/transport.ipVersion"
                  }
                }
              },
              "examples": {
                "http application": {
                  "value": {
                    "transportId": 3,
                    "transportCode": "test-2.domain.com:80",
                    "transportType": "ipport",
                    "transportName": "test-2.domain.com:80",
                    "targetDomain": "test-2.domain.com",
                    "targetPort": 80,
                    "useFtp": 0,
                    "cName": "access.cname.com",
                    "accessPort": 80,
                    "useUdp": 0,
                    "applicationProtocol": "http",
                    "accessDomain": "access.domain.com",
                    "status": 1,
                    "speedLimit": 0,
                    "concurrentLimit": 0,
                    "transportStrategy": "topspeed",
                    "ipWhiteList": "192.168.1.0/26;192.168.10.1-192.168.10.100",
                    "comments": ""
                  }
                }
              }
            }
          },
          "description": "Modify a transport."
        },
        "tags": [
          "Transports"
        ]
      },
      "delete": {
        "summary": "Delete a transport",
        "operationId": "delete-transport-transportId",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "status": 1,
                      "message": "Success",
                      "code": "0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "AccessDenied",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "AccessDenied"
                        },
                        "message": {
                          "type": "string",
                          "description": "Please enter valid credentials."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "ResourceNoAccess",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ResourceNoAccess"
                        },
                        "message": {
                          "type": "string",
                          "description": "Read only customer can not modify resources."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  },
                  "ResourceNoAccess": {
                    "value": {
                      "code": "ResourceNoAccess",
                      "message": "Read only customer can not modify resources.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "NoSuchTransportId",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "NoSuchTransportId"
                        },
                        "message": {
                          "type": "string",
                          "description": "The specified transport id  does not exist."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "DistributeConfigFailed",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "DistributeConfigFailed"
                        },
                        "message": {
                          "type": "string",
                          "description": "HDT system error. Please contact HDT support team."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "code": "NoSuchTransportId",
                      "message": "The specified transport id  does not exist.",
                      "status": 1
                    }
                  },
                  "DistributeConfigFailed": {
                    "value": {
                      "code": "DistributeConfigFailed",
                      "message": "HDT system error. Please contact HDT support team.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete a transport by the transport ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "tags": [
          "Transports"
        ]
      }
    },
    "/transport/{transport-id}/history": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "transport-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Query history of a transport",
        "tags": [
          "Transports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "code": {
                      "$ref": "#/components/schemas/transport.code"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "deployId": {
                                "$ref": "#/components/schemas/transport.deployId"
                              },
                              "deployDate": {
                                "type": "string"
                              },
                              "transportCode": {
                                "$ref": "#/components/schemas/transport.code"
                              },
                              "transportType": {
                                "$ref": "#/components/schemas/transport.type"
                              },
                              "transportName": {
                                "$ref": "#/components/schemas/transport.name"
                              },
                              "targetDomain": {
                                "$ref": "#/components/schemas/transport.targetDomain"
                              },
                              "targetPort": {
                                "$ref": "#/components/schemas/transport.targetPort"
                              },
                              "useFtp": {
                                "$ref": "#/components/schemas/transport.useFtp"
                              },
                              "cName": {
                                "$ref": "#/components/schemas/transport.cName"
                              },
                              "accessPort": {
                                "$ref": "#/components/schemas/transport.accessPort"
                              },
                              "useUdp": {
                                "$ref": "#/components/schemas/transport.useUdp"
                              },
                              "applicationProtocol": {
                                "$ref": "#/components/schemas/transport.applicationProtocol"
                              },
                              "accessDomain": {
                                "$ref": "#/components/schemas/transport.accessDomain"
                              },
                              "speedLimit": {
                                "$ref": "#/components/schemas/transport.speedLimit"
                              },
                              "concurrentLimit": {
                                "$ref": "#/components/schemas/transport.concurrentLimit"
                              },
                              "transportStrategy": {
                                "$ref": "#/components/schemas/transport.transportStrategy"
                              },
                              "ipWhiteList": {
                                "$ref": "#/components/schemas/transport.ipWhiteList"
                              },
                              "hasICP": {
                                "$ref": "#/components/schemas/transport.hasIcp"
                              },
                              "hasPSB": {
                                "$ref": "#/components/schemas/transport.hasPsb"
                              },
                              "dedicatedIpService": {
                                "$ref": "#/components/schemas/transport.dedicatedIpService"
                              },
                              "ipVersion": {
                                "$ref": "#/components/schemas/transport.ipVersion"
                              },
                              "shieldHost": {
                                "$ref": "#/components/schemas/transport.shieldHost"
                              },
                              "carryClientIp": {
                                "$ref": "#/components/schemas/transport.carryClientIp"
                              },
                              "comments": {
                                "$ref": "#/components/schemas/transport.comments"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Ipport": {
                    "value": {
                      "code": "0",
                      "content": {
                        "data": [
                          {
                            "deployId": 1,
                            "accessDomain": "0202-1.access.com",
                            "accessPort": 80,
                            "apiRequestId": "8UqsuWcV",
                            "cName": "0202-1.access.com.506561.shland.com",
                            "carryClientIp": 0,
                            "concurrentLimit": 0,
                            "deployDate": "2020-01-01 12:01:23",
                            "ipBlackList": "",
                            "ipVersion": 1,
                            "ipWhiteList": "",
                            "speedLimit": 0,
                            "targetDomain": "0202-1.target.com",
                            "targetPort": 80,
                            "transportCode": "0202-1.target.com:80",
                            "transportId": 506561,
                            "transportName": "0202-1.target.com:80",
                            "transportStatus": 1,
                            "transportStrategy": "topspeed",
                            "transportStrategyNam": "Default",
                            "useFtp": 0,
                            "applicationProtocol": "http",
                            "useUdp": 0,
                            "hasIcp": 0,
                            "hasPsb": 0
                          }
                        ],
                        "count": 1
                      },
                      "message": "Success",
                      "status": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
                          "description": "Request has expired. Timestamp date is xxx."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "MissingDateHeader": {
                    "value": {
                      "code": "MissingDateHeader",
                      "message": "Authorized request must have a Date header.",
                      "status": 1
                    }
                  },
                  "RequestExpired": {
                    "value": {
                      "code": "RequestExpired",
                      "message": "Request has expired. Timestamp date is xxx.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "AccessDenied"
                    },
                    "message": {
                      "type": "string",
                      "description": "Please enter valid credentials."
                    }
                  }
                },
                "examples": {
                  "AccessDenied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "NoSuchTransportId"
                    },
                    "message": {
                      "type": "string",
                      "description": "The specified transport Id does not exist."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "NoSuchTransportId": {
                    "value": {
                      "code": "NoSuchTransportId",
                      "message": "The specified transport id does not exist.",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Qtl-Request-Id": {
                "$ref": "#/components/parameters/Qtl-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "InternalError"
                    },
                    "message": {
                      "type": "string",
                      "description": "We encountered an internal error. Please try again."
                    },
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    }
                  }
                },
                "examples": {
                  "InternalError": {
                    "value": {
                      "code": "InternalError",
                      "message": "We encountered an internal error. Please try again.",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transport-history-by-transportId",
        "description": "Returns a transport’s history configuration information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Encoding"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/On-Behalf-Of"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "limit",
            "description": "Maximum number of items to return. The default value is 10."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "start",
            "description": "Starting position of the query in relation to the complete set of unpaginated items. The default value is 0."
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ]
      }
    },
    "/report/flow": {
      "get": {
        "summary": "Query flow report",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Qtl-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "A string automatically generated by the API server to identify each request."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/response.status"
                    },
                    "message": {
                      "$ref": "#/components/schemas/response.message"
                    },
                    "content": {
                      "$ref": "#/components/schemas/report.flowReport"
                    },
                    "code": {
                      "$ref": "#/components/schemas/response.code"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "0",
                      "content": {
                        "records-count": 24,
                        "download-summary": 18519850119,
                        "flow-data": [
                          {
                            "download": 242202979,
                            "upload": 41775682,
                            "timestamp": "2021-02-01T00:00:00"
                          },
                          {
                            "download": 434976489,
                            "upload": 53327750,
                            "timestamp": "2021-02-01T01:00:00"
                          },
                          {
                            "download": 262619320,
                            "upload": 46792105,
                            "timestamp": "2021-02-01T02:00:00"
                          },
                          {
                            "download": 271591374,
                            "upload": 40887864,
                            "timestamp": "2021-02-01T03:00:00"
                          },
                          {
                            "download": 191100146,
                            "upload": 37105263,
                            "timestamp": "2021-02-01T04:00:00"
                          },
                          {
                            "download": 276380284,
                            "upload": 43468523,
                            "timestamp": "2021-02-01T05:00:00"
                          },
                          {
                            "download": 312642389,
                            "upload": 40554045,
                            "timestamp": "2021-02-01T06:00:00"
                          },
                          {
                            "download": 371711566,
                            "upload": 42653678,
                            "timestamp": "2021-02-01T07:00:00"
                          },
                          {
                            "download": 206700554,
                            "upload": 34305845,
                            "timestamp": "2021-02-01T08:00:00"
                          },
                          {
                            "download": 236087512,
                            "upload": 42197590,
                            "timestamp": "2021-02-01T09:00:00"
                          },
                          {
                            "download": 281101998,
                            "upload": 51045937,
                            "timestamp": "2021-02-01T10:00:00"
                          },
                          {
                            "download": 345577080,
                            "upload": 68093439,
                            "timestamp": "2021-02-01T11:00:00"
                          },
                          {
                            "download": 294388314,
                            "upload": 55829406,
                            "timestamp": "2021-02-01T12:00:00"
                          },
                          {
                            "download": 510627818,
                            "upload": 67908071,
                            "timestamp": "2021-02-01T13:00:00"
                          },
                          {
                            "download": 1160562771,
                            "upload": 145654807,
                            "timestamp": "2021-02-01T14:00:00"
                          },
                          {
                            "download": 1877963150,
                            "upload": 204881040,
                            "timestamp": "2021-02-01T15:00:00"
                          },
                          {
                            "download": 1720644941,
                            "upload": 234140548,
                            "timestamp": "2021-02-01T16:00:00"
                          },
                          {
                            "download": 1368231195,
                            "upload": 243603839,
                            "timestamp": "2021-02-01T17:00:00"
                          },
                          {
                            "download": 1333455796,
                            "upload": 262665569,
                            "timestamp": "2021-02-01T18:00:00"
                          },
                          {
                            "download": 1153213974,
                            "upload": 264971687,
                            "timestamp": "2021-02-01T19:00:00"
                          },
                          {
                            "download": 1785975896,
                            "upload": 235060258,
                            "timestamp": "2021-02-01T20:00:00"
                          },
                          {
                            "download": 1520091740,
                            "upload": 294514865,
                            "timestamp": "2021-02-01T21:00:00"
                          },
                          {
                            "download": 1197156838,
                            "upload": 262305327,
                            "timestamp": "2021-02-01T22:00:00"
                          },
                          {
                            "download": 1164845995,
                            "upload": 252102680,
                            "timestamp": "2021-02-01T23:00:00"
                          }
                        ],
                        "upload-summary": 3065845818
                      },
                      "message": "Success",
                      "status": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Qtl-Request-Id": {
                "description": "A string automatically generated by the API server to identify each request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "MissingDateHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingDateHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "Authorized request must have a Date header."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidURI",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidURI"
                        },
                        "message": {
                          "type": "string",
                          "description": "Could not parse the specified URI."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "InvalidDatePeriod",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "InvalidDatePeriod"
                        },
                        "message": {
                          "type": "string",
                          "description": "The date specified is invalid."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "MissingAuthHeader",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MissingAuthHeader"
                        },
                        "message": {
                          "type": "string",
                          "description": "The HTTP authorization header is missing."
                        },
                        "status": {
                          "$ref": "#/components/schemas/response.status"
                        }
                      }
                    },
                    {
                      "title": "RequestExpired",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "RequestExpired"
                        },
                        "message": {
                          "type": "string",
[...]
